@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "FuturaPT-Bold";
  src: url("../../public/fonts/FuturaPTMedium.otf");
}

@font-face {
  font-family: "FuturaPT-Regular";
  src: url("../../public/fonts/FuturaPTBook.otf");
}

@font-face {
  font-family: "Neuzeit Grotesk";
  src: local("Neuzeit Grotesk Regular"), local("Neuzeit-Grotesk-Regular"),
    url("../../public/fonts/NeuzeitGro-Reg.woff2") format("woff2"),
    url("../../public/fonts/NeuzeitGro-Reg.woff") format("woff"),
    url("../../public/fonts/NeuzeitGro-Reg.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h4,
h5,
h6 {
  font-family: "FuturaPT-Bold", sans-serif;
}

h3 {
  font-family: "FuturaPT-Regular", sans-serif;
}

p,
a {
  font-family: "Neuzeit Grotesk", sans-serif;
}
